* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
  background-color: #141852;
}
.object {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: blueviolet;
  transition: all 0.1s;
}

.stars {
  position: fixed;
  inset: 0;
  overflow: hidden;
  background: #000;
}

.stars::before,
.stars::after {
  content: "";
  position: absolute;
  left: 0;
  top: -100vh; /* start above view */
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 20vw 10vh #fff, 40vw 30vh #fff, 70vw 20vh #fff, 10vw 80vh #fff,
    55vw 60vh #fff, 85vw 50vh #fff; /* add many more! */
  animation: fall 8s linear infinite;
}

.stars::after {
  animation-delay: 4s;
} /* offset for seamless loop */

@keyframes fall {
  to {
    transform: translateY(200vh);
  } /* drop past the screen */
}
